*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    background: #fff;
    max-width: 400px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.todo-app h2{
    text-align: center;
    color: #002765;
    display: flex;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    background: #002765;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    left: 0;
    width: 28px;
    height: 28px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 12px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}  
ul li.checked::before{
    background-image: url(images/checked.png);
} 
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
ul li span:hover{
    background: #edeef0;
}   